h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
/*index.html START*\

/* Navigation bar START */

.navbar {
    left: 34px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar li 
{
    display: inline-block;
    padding: 0px 20px;
}



/* Navigation bar END */



/*Landing container START*/

.landing-container{
    position: relative;
    text-align: center;
}

#denHeader
{
    color: black;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: textIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textIn{
    from{
        top: 100%;
        opacity: 0;
        font-size: 15px;
    }
    to{
        top: 40%;
        opacity: 1;
        font-size: 100px;
    }
}

.landing-image {
    padding: 0;
}

.landing-image img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Landing Container END */


/*index.html END*\
/*fnb.html START*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.rinfo1 {
    display: inline-flex;
    width: 100%;
}

.description {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: #014d63;
    font-family: 'Roboto', sans-serif;
}

.description h2 {
    font-family: 'Segoe print', Times, serif;
    color: #cbcac2;
}

.description p {
    font-family: 'Ink free', Times, serif;
    color: #5bc2e7;
    font-size: 20px;
}

.description a {
    color: #5bc2e7;
}
/*fnb.html END*/

/*transportation.html START*/
.description1 {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: #ead1d9;
    font-family: 'Courier New', Courier, monospace;
}

.description1 h2 {
    font-family: 'Garamond', serif;
    color: #144f77;
}

.description1 p, 
.description1 ul {
    font-family: 'courier new', monospace;
    color: #2f4156;
}

.description a {
    color: #144f77;
}
/*safety.html START*\

/* Landing Container START */

.main {
    background: url("./Images/Health/ And/Safety/background.png") no-repeat;
}

.landing-image img {Update
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Landing Container END */

/*safety.html END*\
