/* Master Styling START*/
html {
    scroll-behavior: smooth;
  }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: black;
    padding: 10px;
    margin: 10px;
}
a {
    color: black;
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
img {
    padding: 0;
    margin: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.divider {
    height: 1px;
    width: 90%;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10000;
    font-size: 18px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    transition: .44s ease all;
  }

#topButton i {
    font-size: 100px;
}

#topButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

/* Master Styling END */

/*index.html START*\
/* Navigation bar START */
nav {
    background-color: white;
    top: 0px;
    text-align: center;
    width: 100%;
    position: sticky;
    text-decoration: none;
    justify-content: center;
    overflow: auto;
    z-index: 300;
    border-bottom: 3px solid black;
}
.nav-bar {
    color: black;
}
.nav-bar a {
    text-decoration: none;
}
.nav-bar li 
{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    
}
.nav-bar li a {
    transition: all 0.3s ease 0s;
    border-bottom: 1px transparent;
}
.nav-bar a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
}
.nav-bar .inactive::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}
.nav-bar .inactive:hover::after {
    transform: scale(1,1);
}
.nav-bar .active {
    color: black;
    border-bottom: 2px solid black;
}
/* Navigation bar END */
/*Landing container START*/
.landing-container{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}
.landing-text h1 {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: textIn ease 2.66s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: white;
    mix-blend-mode: difference;
    white-space: nowrap;
}

.landing-text span {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 72px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(241,195,203,1) 31%, rgba(232,156,170,1) 50%, rgba(224,124,143,1) 64%, rgba(198,12,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 41%;
    left: 66.6%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    white-space: nowrap;
    animation: opac ease 5.66s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes opac {
    0%{
        opacity: 0;
    }
    47% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes textIn{
    from{
        font-size: 0px;
    }
    to{
        font-size: 80px;
    }
}
.landing-image {
    padding: 0;
}
.landing-image img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.nav-button {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    position: absolute;
    padding: 14px 22px;
    top: 60%;
    background-color: rgba(255,255,255,0.9);
    font-size: 24px;
    border-radius: 12px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
    border: 2px solid white;
    animation: slideIn ease 5.66s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-10px);
}

@keyframes slideIn {
    0%{
        left: 0%;
        opacity: 0%;
    }
    47% {
        left: 0%;
        opacity: 0%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        left: 70%;
    }
}
/* Landing Container END */

/* Landing Contents START */

.land-head {
    margin-top: 20px;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 66px;
}

.land-dir {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 10px;
    background-color: #fff;
    position: relative;
    left: 21%;
    top: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.land-dir a {
    text-decoration: none;
}

.dir-item {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
    text-align: center;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
}



.dir-item:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-9px);
}

/* Landing Contents END */

 /*index.html END*\
/*fnb.html START*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.rinfo1 {
    display: inline-flex;
    width: 100%;
}

.descRestaurant {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: #014d63;
    font-family: 'Roboto', sans-serif;
}

.descRestaurant h2 {
    font-family: 'Segoe print', Times, serif;
    color: #cbcac2;
}

.descRestaurant p {
    font-family: 'Ink free', Times, serif;
    color: #5bc2e7;
    font-size: 20px;
}

.descRestaurant a {
    color: #5bc2e7;
}
/*fnb.html END*/

/*transportation.html START*/
.descTransportation {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: #ead1d9;
    font-family: 'Courier New', Courier, monospace;
}

.descTransportation h2 {
    font-family: 'Garamond', serif;
    color: #144f77;
}

.descTransportation p, 
.descTransportation ul {
    font-family: 'courier new', monospace;
    color: #2f4156;
}

.descTransportation a {
    color: #144f77;
}

.subjTransportation {
        color: red;
}

table, th, td {
    border: #3271ae 3px solid;
    width: 1000px;
    text-align: center;
}

th {
    background-color: #007175;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*transportation.html END*/
/*safety.html START*/

/*safety.html END*/

/*shopping.html START*/
/*shopping.html END*/

/* accomodation.html START */

.acHeader {
    text-align: center;
}

.acHead-container h1 {
    font-size: 50px;
    font-weight: 700;
}

.acHeader {
    position: relative;
    top: -10px;
    border: 1px solid black;
}

.acComment {
    text-align: center;
}

.acList-container {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    top: -50px;
}

.acList-container p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 36px;
    position: relative;
    top: 20px;
}

.acDesc p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 100;
    font-size: 20px;
    position: relative;
    top: -5px;
}

.acPic1 {
    display: inline-block;
    margin-right: 20px;
}

.acPic2 {
    display: inline-block;
    margin-right: 20px;
}

.acPic3 {
    display: inline-block;
}

.acPic1 img {
    width: 100%;
    transition: .6s ease-in-out;
    
}

.acPic2 img {
    width: 100%;
    transition: .6s ease-in-out;
    
}

.acPic3 img {
    width: 100%;
    transition: .6s ease-in-out;
    
}

.acPic1 img:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

.acPic2 img:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

.acPic3 img:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

.acTitle p {
    position: relative;
    top: -20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 6px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    transition: .44s ease all;

}

.acTitle:hover p{
    background-color: black;
    color: white;
}

#acHotels h1 {
    text-align: center;
    font-size: 40px;
}

#acHostels h1 {
    text-align: center;
    font-size: 40px;
}

#acBeds h1 {
    text-align: center;
    font-size: 40px;
}

.hotelHE-container {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 30px;
    border: 3px solid black;
    padding: 5px;
    padding-top: 8px;
}

.acHEPic {
    float: left;
}

.acHEPic img {
    width: 550px;
    max-height: 366px;
}

.HEPicDesc {
    position: relative;
    top: -30px;
    display: inline-block;
    margin-left: 30px;
    width: 670px;
}

.HEPicDesc h3 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.control, .control2 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
}

.control {
    margin-left: 6px;
}

.review {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.HEPicDesc p {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.acPrice {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 40px;
}


.acRef {
    padding: 14px 22px;
    background-color: white; 
    font-size: 24px;
    border-radius: 12px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
}

.acRef:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1A1A1A;
}

.checked {
    color: orange;
}
/* credits.html START */
.credDivider{
    height: 1px;
    width: 90%;
    background-color: gray;
    margin: auto;
    border-radius: 10px;
}

.credDesc h2{
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.credLink {
    position: relative;
    top: -10px;
    text-align: center;
}

.credButton {
    padding: 14px 22px;
    background-color: white; 
    font-size: 24px;
    border-radius: 12px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
}

.credButton {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
}

.credButton:hover {
    color: #fff;
    background-color: #1A1A1A;
}

/*Attraction.html START*/
.hell{
    font-size: 50px;
}
.heaven{
    font-size:30px;
}
.cover{
    object-fit: cover;
}
.boxed{
    border: 1px solid black;
    max-width: 87%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    left: 5%;
}
.bruh{
    width: 95%;
    margin-left:2%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}