/* Master Styling START*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: black;
}

a {
    color: black;
}

body {
    padding: 0;
    margin: 0;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

img {
    padding: 0;
    margin: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Master Styling END */

/*index.html START*\

/* Navigation bar START */

nav {
    background-color: white;
    top: 0px;
    text-align: center;
    width: 100%;
    position: sticky;
    text-decoration: none;
    justify-content: center;
    overflow: hidden;
    z-index: 300;
}

.nav-bar {
    color: black;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li 
{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    
}

.nav-bar li a {
    transition: all 0.3s ease 0s;
    border-bottom: 1px transparent;
}

.nav-bar a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
}

.nav-bar .inactive::after {
    transform: scale(0,1);
    transition: transform 0.3s ease;
}

.nav-bar .inactive:hover::after {
    transform: scale(1,1);
}

.nav-bar .active {
    color: black;
    border-bottom: 2px solid black;
}

/* Navigation bar END */



/*Landing container START*/

.landing-container{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

#denHeader
{
    color: black;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: textIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textIn{
    from{
        top: 100%;
        opacity: 0;
        font-size: 15px;
    }
    to{
        top: 40%;
        opacity: 1;
        font-size: 100px;
    }
}

.landing-image {
    padding: 0;
}

.landing-image img {
    max-width: 100%;
    height: auto;
    margin: auto;
}


/* Landing Container END */


/*index.html END*\
